html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
.link {
    text-decoration: none;
    color: darkslategrey;
}
.link:hover {
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.4;
	font-family: 'Roboto', sans-serif;
    color: #67696c;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;
    overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
.section-padding
{
    padding: 60px 0px;
}

/***********************************
************************************
HEADER 
************************************
***********************************/
.header{
    background: url('imgIndex/fondo5.jpg') no-repeat fixed;
    background-size: cover;
    min-height: 650px;
    position: relative;
}
.bg-color
{
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 650px;
}
#main-header
{
    padding: 20px 0;
}
.navbar-default {
    background-color: transparent;
    border:0px;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover
{
    color: #002F2F;
}
.logo-dec
{
    color: #be9e21;
}
.navbar-default .navbar-brand {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus
{
    color: #fff;
}
.navbar-brand {
    padding: 0px;
    font-size: 24px;
    text-transform: uppercase;
    padding: 15px 0px;
    margin-top: 6px;
}
.navbar-default .navbar-nav > li > a
{
    padding: 5px 10px;
    font-size: 14px;
    line-height: 54px;
    font-weight: 400;
    text-transform: uppercase;
    background: transparent;
    color: #fff;
    -webkit-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #be9e21;
    background-color: transparent;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    background-color: transparent;
    color: #be9e21;
}
.banner-info
{
    padding-top: 100px;
    color: #fff;
}
.bnr-title, .bnr-sub-title
{
    font-family: 'Fira Sans', sans-serif;
}
h1.bnr-title
{
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
h2.bnr-sub-title
{
    font-size: 45px;
    text-transform: uppercase;
    padding: 20px 0px;
    font-weight: 700;
}

/*LEER QR ------------------------------------------------*/
.consultaqr{
    text-align: center;
    margin: 0px auto;
}

    #qr-canvas{
        display:none;
    }

    #outdiv{
        padding-top: 0px;
    }

    #v{
        width: 100%;
        border: 1px solid white;
    }
/*LEER QR ------------------------------------------------*/
/*FOMULARIO-------------------------------------*/
.form-signin {
  max-width: 380px;
  padding: 10px 5px 5px 5px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
}
.estiloL {
    /*font-family: 'Roboto', sans-serif;*/
    
}

.centro {
    text-align: center;
    
}
.boton {
    color: white;
    background: #BE9E21;
    border: none;
    font-size: 20px;
    padding: 2px;
}
.boton:hover {
    color: white;
    border: none;
    font-size: 25px;
}
.form-signin-heading {
    font-size: 40px;
    text-align: center;
    border: none;
}
	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		@include box-sizing(border-box);

		&:focus {
		  z-index: 2;
		}
	}

	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
}

/*FOMULARIO-------------------------------------*/

@media (min-width: 768px) and (max-width: 980px) {
    .service-item, .blog-sec, .wrap-item, .loction-info{
    margin-bottom: 15px;
}
.portfolio-item figure figcaption{
    padding: 55px 30px;
}
.padding-right-zero{
    padding-right: 15px !important;
}
}
@media (min-width: 451px) and (max-width: 767px) {
    .service-item, .blog-sec, .wrap-item, .loction-info{
    margin-bottom: 15px;
}
}
@media (min-width: 20px) and (max-width: 450px) {
.navbar-default .navbar-brand {
    padding-left: 16px;
    margin-top: 0px;
}
.banner-info {
    padding-top: 40px;
}
h1.bnr-title {
    font-size: 16px;
}
h2.bnr-sub-title {
    font-size: 33px;
}
body{
    font-size: 14px;
}
.btn-download, .btn-more, .btn-download:hover, .btn-more:hover, .btn-download:focus, .btn-more:focus {
    font-size: 12px;
    padding: 7px 18px;
}
.wrap-item h3 {
    font-size: 18px;
}
.title, .service-title {
    font-size: 28px;
}
.sub-title {
    font-size: 15px;
}
.service-item, .blog-sec, .wrap-item, .loction-info{
    margin-bottom: 15px;
}
.loction-info{
    padding: 0px 15px;
}
.portfolio-item figure figcaption {
    padding: 30px 30px;
}
.padding-right-zero{
    padding-right: 15px !important;
}
.portfolio-item figure p{
    font-size: 14px;
}
.portfolio-item figure h2{
    font-size: 18px;
}
.testimonial-item ul li blockquote {
    font-size: 14px;
    line-height: 22px;
    margin: 10px 0;
    padding: 0 40px;
}
.navbar-default .navbar-nav > li > a{
    line-height: 22px;
    text-align: center;
}
}